<!doctype html>
<html>
  <head>
    {% block head %}
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="3600">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
  </head>
  <body>
    <header>{% block header %}{% endblock %}</header>
    <content>{% block content %}{% endblock %}</content>
    <footer>
      {% block footer %}
      <script src="{{ url_for('static', filename='socket.io.js') }}"></script>
      <script type="text/javascript" charset="utf-8">
          var socket = io();
          socket.on('connect', function() {
              socket.emit('my event', {data: 'I\'m connected!'});
          });
      </script>
      {% endblock %}
    </footer>
  </body>
</html>