{% extends "layout.html" %}
{% block title %}{{ page_title }} > active streams [{{ active_streams|length }}]{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}

{% block header %}
	<h1 id="page_title" class="{{ streamcount }}">{{ page_title }}</h1>
{% endblock %}

{% block content %}
	{% if active_streams|length > 1 %}
		{% set streamcount="many" %}
	{% elif active_streams|length > 0 %}
		{% set streamcount="one" %}
	{% else %}
		{% set streamcount="none" %}
	{% endif %}

	{% if list_streams %}
	<section class="active_streams {{streamcount}}">
		<h2 id="streamheader">Active Streams [{{ active_streams|length }}]</h2>
		<ul id="streamlist" class="streamlist">
		{% for stream in active_streams %}
			{% if stream['password'] %}{% set password="password-protected " %}{% else %}{% set password="" %}{% endif %}
			{% if stream['description'] %}{% set description="has-description " %}{% else %}{% set description="" %}{% endif %}
			<li class="active_stream stream-{{ stream['key'] }} {{ password }}{{ description }}">
				<a href="streams/{{ stream['key'] }}">{{ stream['key'] }}</a>
			</li>
		{% endfor %}
		{% if streamcount == "none" %}
			<h2 id="no-stream-notice">There are currently no active streams</h2>
		{% endif %}
		</ul>
	</section>
	{% endif %}

	{% if display_description %}
		<section class="description">
			{# Read from static/description.md, can be deactivated in config.toml #}
			{{ description|markdown }}
		</section>
	{% endif %}
{% endblock %}

{% block footer %}
  {{ super() }}
  <script src="{{ url_for('static', filename='sync-streamlist.js') }}"></script>
{% endblock %}

