{% extends "layout.html" %}
{% block title %}{{ page_title }}/{{ streamkey }}{% endblock %}
{% block head %}
  <link href="{{ url_for('static', filename='video-js.css') }}" rel="stylesheet">
  {{ super() }}
{% endblock %}

{% block header %}
  <h1 id="page_title"><a href="/">{{ page_title }}</a>/<s>{{ streamkey }}</s></h1>
{% endblock %}

{% block content %}
    <h2 class="404">Uh-oh!</h2>
    <h2>The stream {{ streamkey }} doesn't seem to be here (anymore?)</h2>
    {% if list_streams %}
        <p>Have a look at the <a href="/streams">list of current streams</a></p>
    {% endif %}
{% endblock %}

{% block footer %}
  {{ super() }}
{% endblock %}



