{% extends "layout.html" %}
{% block title %}{{ page_title }} > active streams [{{ active_streams|length }}]{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}

{% block header %}
	<h1 id="page_title" class="{{ streamcount }}">{{ page_title }} > active streams [{{ active_streams|length }}]</h1>
{% endblock %}

{% block content %}
	{% if active_streams|length > 1 %}
		{% set streamcount="many" %}
	{% elif active_streams|length > 0 %}
		{% set streamcount="one" %}
	{% else %}
		{% set streamcount="none" %}
	{% endif %}

	<section class="active_streams {{streamcount}}">
		<ul class="streamlist">
		{% for stream in active_streams %}
			<li class="active_stream">
				<a href="streams/{{ stream }}">{{ stream }}</a>
			</li>
		{% endfor %}
		</ul>
	</section>

	<section class="description">
		
	</section>
{% endblock %}

{% block footer %}
  {{ super() }}
{% endblock %}

